body {
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: lightsteelblue;
	text-align: center;
}

#aboutOpen, #aboutClose {
	position: fixed;
	font-size: 50px ;
	left: 15px;
	top: 15px;
	color: steelblue;
	transition: filter 250ms linear;
}

#aboutOpen:hover, #aboutClose:hover, #twitter:hover, #facebook:hover, #temperature:hover {
	filter: brightness(90%);
	transition: filter 250ms linear;
}

#aboutContent {
	position: fixed;
	top: 30%;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
}

#aboutFirstParagraph {
	width: 100%;
}

#aboutSocial {
	width: 100%;
	position:  fixed;
	top: 175%;
}

#twitter, #facebook {
	transition: filter 250ms linear;
}

#twitter:hover, #facebook:hover {
	cursor: pointer;
}

#icons {
  font-size: 15em;
}

.icon {
  font-size: inherit;
  display: inline-block;
}

#loading {
	position: fixed;
	font-size: 50px;
	right: 15px;
	top: 15px;
	color: steelblue;
	transition: filter 250ms linear;
	animation: spin 2000ms linear infinite
}

#locating {
	color: steelblue;
}

#clear-day {
	color: gold;
}

#clear-night {
	color: slateblue;
}

#cloudy {
	color: gainsboro;
}

#partly-cloudy-day {
	z-index: -1;
	transform: translateY(-20%);
	color: gold;
  font-size: 75%;
}

#partly-cloudy-night {
	z-index: -1;
	transform: translateY(-20%);
	color: slateblue;
  font-size: 75%;
}

#rain {
	color: dodgerblue;
}

#thunderstorm {
	color: gold;
}

#snow {
	color: snow;
}

#denied {
		color: steelblue;
}

.WorkSans {
	font-family: 'Work Sans', sans-serif;
	color: steelblue;
}

#temperature {
  font-size: 3em;
	transition: filter 250ms linear;
}

#aboutOpen:hover, #aboutClose:hover, #temperature:hover {
	cursor: pointer;
}

#footer {
	font-family: 'Lato', sans-serif;
	color: #444;
	position: fixed;
	bottom: 1em;
	width: 100%;
  text-align: center;
	cursor: pointer;
}

#footerLogo {
	position: relative;
	width: 35px;
	height: 35px;
	transform: translateX(-10%) translateY(+25%);
}

.fade-able {
	transition: background-color 500ms linear, color 500ms linear;
}

@keyframes spin {
		from {transform: rotate(0deg);}
		to {transform: rotate(360deg);}
}

.fadeIn {
	animation: fadeIn 500ms linear;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.fadeOut {
	animation: fadeOut 500ms linear;
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

/*media queries*/
/*iPad landscape media query*/
@media only screen and (max-width: 1248px) {

    #facebookFiller {
        font-size: 44px;
    }

}

/*iPad portrait media query*/
@media only screen and (max-width: 768px) {

}

/*iPhone 5.5" media query*/
@media only screen and (max-width: 414px) {

	#aboutFirstParagraph {
		position: fixed;
		left: 50%;
		transform: translateX(-50%) translateY(-25%);
	}

	#aboutSocial {
		position: fixed;
		left: 50%;
		transform: translateX(-50%) translateY(+225%);
	}

  #icons {
    font-size: 7em;
  }

}

/*iPhone 4.7" portrait media query*/
@media only screen and (max-width: 375px) {

	#aboutContent {
		font-size: 40px;
	}

	#facebookFiller {
		font-size: 35px;
	}

}

/*iPhone 4" portrait media query*/
@media only screen and (max-width: 320px) {

	#aboutContent {
		font-size: 32px;
	}

	#facebookFiller {
		font-size: 29px;
	}

}

#aboutScreen {
  position: absolute;
  width: 100%;
  height; 100vh;
  z-index: 2;
}

#weatherScreen {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-aspect-ratio: 1/1) and (max-height: 35em) {
  #weatherScreen {
    flex-direction: row;
  }
  #icons {
    font-size: 7em;
  }
  #temperature {
    margin-left: 1rem;
  }
}

.hidden {
  display: none;
}
