body {
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: lightsteelblue;
	text-align: center;
}

#aboutOpen, #aboutClose {
	position: fixed;
	font-size: 50px ;
	left: 15px;
	top: 15px;
	z-index: 1;
	color: steelblue;
}

#aboutOpen {
	visibility: visible;
}

#aboutContent {
	visibility: hidden;
	position: fixed;
	top: 30%;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
}

#aboutFirstParagraph {
	width: 100%;
}

#aboutSocial {
	width: 100%;
	position:  fixed;
	top: 175%;
}

#twitter, #facebook {
	color: steelblue;
	text-decoration: none;
	transition: color 500ms ease-in-out;
}

#twitter:hover {
	color: #00aced;
	transition: color 500ms ease-in-out;
}

#facebook:hover {
	color: #3B5998;
	transition: color 500ms ease-in-out;
}

#aboutClose {
	visibility: hidden;
}

#icons {
	height: 75px;
	font-size: 200px;
	z-index: 0;
}

.icon {
	top: 30%;
	left: 50%;
	position: fixed;
	transform: translateX(-50%);
	z-index: 1;
}

#locating {
	visibility: visible;
	color: steelblue;
}

#clear-day {
	visibility: hidden;
	color: gold;
}

#clear-night {
	visibility: hidden;
	color: slateblue;
}

#cloudy {
	visibility: hidden;
	color: gainsboro;
}

#partly-cloudy-day {
	visibility: hidden;
	z-index: -1;
	transform: translateY(-20%);
	font-size: 150px;
	color: gold;
}

#partly-cloudy-night {
	visibility: hidden;
	z-index: -1;
	transform: translateY(-20%);
	font-size: 150px;
	color: slateblue;
}

#rain {
	visibility: hidden;
	color: dodgerblue;
}

#thunderstorm {
	visibility: hidden;
	color: gold;
}

#snow {
	visibility: hidden;
	color: snow;
}

.WorkSans {
	font-size: 50px;
	font-family: 'Work Sans', sans-serif;
	color: steelblue;
}

#temperature {
	top: 60%;
	left: 50%;
	position: fixed;
	transform: translateX(-50%);
	z-index: 1;
	color: steelblue;
}

#aboutOpen:hover, #aboutClose:hover, #temperature:hover {
	cursor: pointer;
}

.fahreheit {
	width: 200px;
}

.celsius {
	width: 225px;
}

.kelvin {
	width: 250px;
}

#footer {
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	color: #444;
	position: fixed;
	bottom: 15px;
	width: 275px;
	text-decoration: none;
	transform: translateX(-50%);
	z-index: 1;
}

#footerLogo {
	position: relative;
	width: 35px;
	height: 35px;
	transform: translateX(-10%) translateY(+25%);
}

.darkSky {

}

.darkSkyNight {
	fill: white;
}

.fade-able {
	transition: background-color 500ms ease-in-out,
				color 500ms ease-in-out;
}

/*media queries*/
/*iPad landscape media query*/
@media only screen and (max-width: 1248px) {

    #facebookFiller {
        font-size: 44px;
    }

}

/*iPad portrait media query*/
@media only screen and (max-width: 768px) {

}

/*iPhone 5.5" media query*/
@media only screen and (max-width: 414px) {

	#icons {
		transform: translateY(+160%);
	}

	#aboutFirstParagraph {
		position: fixed;
		left: 50%;
		transform: translateX(-50%) translateY(-25%);
	}

	#aboutSocial {
		position: fixed;
		left: 50%;
		transform: translateX(-50%) translateY(+225%);
	}

	#temperature {
		width: 300px;
		transform: translateX(-50%) translateY(+100%);
	}

}

/*iPhone 4.7" portrait media query*/
@media only screen and (max-width: 375px) {

	#icons {
		transform: translateY(+120%);
	}

	#aboutContent {
		font-size: 40px;
	}

	#facebookFiller {
		font-size: 35px;
	}

}

/*iPhone 4" portrait media query*/
@media only screen and (max-width: 320px) {

	#icons {
		transform: translateY(+80%);
	}

	#aboutContent {
		font-size: 32px;
	}

	#facebookFiller {
		font-size: 29px;
	}

}
